body {
	font-family: "Lato", sans-serif;
	background-image: url("contact.png");
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}
header{
	background-color: #242424;
	color: #FFFFFF;
	padding: 15px 15px;
}
.topnav header{
	background-color: #2e2e2e;
	color: #FFFFFF;
	padding: 2% 2%;
}
.logoname{
	color: #FFFFFF;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
h1{
	padding: 0;
	margin: 0;
	padding-top: 1%;
}
.logoname:hover{
	color: #03DAC6;
}
.logo{
	height: 6%;
	width: 6%;
	filter: invert();
} 
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	background-color: #1F1B24;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #ffffff;
	display: block;
	transition: 0.3s;
	border: none;
}

.sidebar a:hover {
	color: #03DAC6;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 50px;
	cursor: pointer;
	background-color: transparent;
	color: #ffffff;
	padding: 10px 15px;
	border: none;
	float: right;
	overflow: visible;
}

.openbtn:hover {
	background-color: transparent;
	color: #03DAC6;
}

#main {
	transition: margin-left .5s;
	padding: 16px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}
.sidenav {
    text-align: center;
    height: 94%;
	width: 400px;
	position: absolute;
	z-index: 0;
	top: 200px;
	left: 0px;
	background: #2c2c2c;;
	overflow-x: hidden;
	padding: 10px 10px;
}
.rate{
    color: #FFFFFF;
}
.rate:hover{
    color:#3700B3;
}
.sidenav a {
    text-align: center;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #03DAC6;
	display: block;
}
.sidenav a:hover {
    text-align: center;
	color: #3700B3;
} 
main {
	margin-left: 140px; /* Same width as the sidebar + left position in px */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}  
.form-value {
    width: 100%;
    overflow: hidden;
}
.form-value form {
    width: 100%;
    height: auto;
    padding: 80px 40px;
    box-sizing: border-box;
}
.inputbox {
    position: relative;
}
.inputbox {
    position: relative;
}
.form-box {
	outline-color: #000000;
	outline-style: solid;
	outline-width: 1px;
	border-radius: 5px;
    width: 450px;
    height: 600px;
    position:relative;
	align-items: center;
	margin-left: 600px;
	margin-bottom: 50px;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: #03DAC6;
    padding-left: 15px;
}
.inputbox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #292828;
    background-color: transparent;
}
.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color:#000 ;
    pointer-events:none ;
    transition: .5s;
}
.inputbox input:focus ~ label,
.inputbox input:valid ~ label{
    top: -12px;
}
.button1{
	background: #03DAC6 ;
	color:#fff ;
	border:none ;
	outline:none ;
	cursor:pointer ;
	padding :10px ;
	border-radius :25px ;
	width :100% ;
	font-size :18px ;
	margin-bottom :20px ;
}
button:hover{
	background:#3700B3; 
	/* linear-gradient: (to right, rgb(255, 0, 55) , rgb(23, 20, 233)) */
	
}
input:focus {
		outline: none;
}
	
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}
footer{
	font-family: "Lato", sans-serif;
	background-color: #2c2c2c;
	color: #FFFFFF;
	margin: 0;
	padding-left: 25px;
	padding-top: 10px;
}
footer a:hover{
	color: #03DAC6;
}
footer a{
	color: #ffffff;
}
.social{
	color: #FFFFFF;
}
.social:hover{
	animation-name: bounce;
	color:#03DAC6;
}

